<!-- Download-Area -->
<div class="download-area overlay">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-sm">
                <figure class="mobile-image">
                    <img src="images/download-image.png" alt="">
                </figure>
            </div>
            <div class="col-xs-12 col-md-6 section-padding">
                <h3 class="white-color">Download The App</h3>
                <div class="space-20"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam possimus eaque magnam eum
                    praesentium unde.</p>
                <div class="space-60"></div>
                <a href="#" class="bttn-white sq"><img src="images/apple-icon.png" alt="apple icon"> Apple Store</a>
                <a href="#" class="bttn-white sq"><img src="images/play-store-icon.png" alt="Play Store Icon"> Play
                    Store</a>
            </div>
        </div>
    </div>
</div>
<!-- Download-Area-End -->